<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base/default.min.css">
    <script src="/js/common/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="/css/resume.css">
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> Markdown</a>
        </div>
        <button type="button" class="btn btn-primary navbar-btn navbar-right" id="download"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
    </div>
</nav>-->
<div class="container" id="doc-page">
    <%- resume %>
</div>
<div class="footer">
    <span>© 2017 Gavin</span>
</div>
</body>
</script>
</html>